.bgImg{
    width: 500px;
    height: 500px;
    background-image: url(./../../../icons/logoBg.gif);
    box-shadow: 0px 0px 10px black;
}
.img{
    margin: 50px;
    width: 400px;
    height: 400px;
}